:root {
  --black: 0, 0%, 0%;
  --white: 0, 0%, 100%;
  --argent: 0, 0%, 75%;
  --red: 0, 100%, 50%;
  --blue: 240, 100%, 50%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}
